<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"> 
	<title>小满金服</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=1000,initial-scale=1,maximum-scale=1,user-scalable=yes">

	<link rel="Shortcut Icon" href="../static/favicon.ico">
	<!-- Standard iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../static/touch-icon-ipad-144.png" />  
	<!-- Retina iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../static/touch-icon-ipad-144.png" /> 
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="../static/css/cooperative.css">
	<!--[if lt IE 9]>
	<script src="../static/js/html5.js"></script>
	<![endif]-->
</head> 
<body>
	<!-- 头部 -->
	<header class="header"> 
		<!-- topbar -->
		<div class="topbar">
			<div class="layout">
				<div class="bar_left">
					<ul>
						<li><span>小满金服首页</span></li>
						<li style="margin-left: 40px;"><span>客服电话：400-844-5558</span></li>
						<li class="WeChat">
							<i></i>
							<div>
								<span><em></em></span>
								<img src="../static/images/WeChat.jpg">
								<p>扫一扫加微信</p>
							</div>
						</li>
						<li class="weibo">
							<i></i>
							<div>
								<span><em></em></span>
								<img src="../static/images/weibo.png">
								<p>扫一扫加微博</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="bar_right" style="display: none;">
					<a href="">登录</a>&nbsp;&nbsp;|&nbsp;
					<a href="">注册</a>
				</div>
				<!-- 登陆后显示 -->
				<div class="bar_right" >
					<span>欢迎您</span><a href="">boss</a> |
					<a href="javascript:;">退出</a>
				</div>
			</div>
		</div>
		<!-- topbar-end -->
		<!-- nav -->
		<nav class="nav">
			<div class="layout">
				<div class="nav_left">
					<!-- logo size 290px*64px -->
					<a href="" class="logo">
						<img src="../static/images/lclogo.png" alt="">
					</a>
				</div>
				<ul class="nav_right">
					<li><a href="" class="active">首页</a></li>
					<li class="">
						<a href="">新闻</a>
						<ul>
							<li><a href="">咨询</a></li>
							<li><a href="">视频</a></li>
						</ul>
					</li>
					<li><a href="">产业</a>
						<ul>
							<li><a href="">理财</a></li>
							<li><a href="">众筹</a></li>
						</ul>
					</li>
					<li><a href="">互动</a>
						<ul>
							<li><a href="">积分商城</a></li>
							<li><a href="">互动社区</a></li>
						</ul>
					</li>
					<li><a href="">关于</a>
						<ul>
							<li><a href="">公司简介</a></li>
							<li><a href="">合作伙伴</a></li>
							<li><a href="">招聘</a></li>
							<li><a href="">联系我们</a></li>
						</ul>
					</li>
					<li class="myaccount">
						<a href="myCenter.html">我的账户</a>
						<ul>
							<li><a href="">资产总览</a></li>
							<li><a href="">我的理财</a></li>
							<li><a href="">我的众筹</a></li>
							<li><a href="">我的积分</a></li>
							<li><a href="">安全中心</a></li>
						</ul>
					</li>

				</ul>
			</div>
		</nav>
		<!-- nav-end -->
	</header>
	<!-- 头部结束 -->
	<!-- 内容 -->
	<div class="content">
        <div class="navalist">
    		<ul class=" layout">
                <li ><a href="">公司简介</a></li>
                <li><a href="">公司文化</a></li>
                <li><a href="">发展经历</a></li>
                <li><a href="">小满资讯</a></li>
                <li class="active"><a href="">合作伙伴</a></li>
                <li><a href="">加入小满</a></li>
                <li><a href="">联系我们</a></li>
            </ul>
        </div>
        <div class="bgpic">
            <img src="../temp/temp_15.jpg" alt="" width="100%">
        </div>
        <div class="part_hd layout">
            <h2><span>合作伙伴</span></h2>
            <p>COOPERATIVE PARTNER</p>
            <ul class="tabbar mt40 clearfix">
            	<li><a href="javascript:;">小满电商</a></li>
            	<li><a href="javascript:;">环迅支付</a></li>
            	<li><a href="javascript:;">海峡银行</a></li>
            	<li><a href="javascript:;">亚马逊物流</a></li>
            </ul>
        </div>
        <div class="part_bd">
            <div class="layout">
                <p style="margin-top: 25px;" class="topimg"><img src="../static/images/cooperative_1.png" alt=""></p>
                <ul>
                	<li>
                		<img src="../static/images/cooperative_2.png" alt="" style="margin-bottom: 40px;">
                		<p>小满文创电商是小满文化集团旗下的垂直电商平台，由中数文化产业发展有限公司、上海灿星文化、北京魅力星辰等共同发起，网罗聚集中国当红明星潮牌，甄选全球知名设计师品牌，搜罗全世界范围最动人的创意产品。</p>
                		<p>运营范围涵盖服装服饰、3C数码、家居用品、文创衍生品等几大类产品，目前超过八百余个国内原创设计师品牌，一万四千多个创意产品入驻小满文创电商。</p>
                	</li>
                	<li>
                		<img src="../static/images/cooperative_3.png" alt="" style="margin-bottom: 40px;">
                		<p>环迅支付，是国内首家通过PCI-DSS认证的第三方支付公司。自成立以来，不断强化安全防范水平，率先创立风险评估中心，为国内外用户提供银行级的安全在线支付体验。</p>
                		<p>2016年5月19日，小满金服与迅付信息科技有限公司（环迅支付）举行了战略合作签约仪式。合作双方将以“互联网+”为基础，围绕企业供应链金融、互联网金融等方面开展创新业务，为客户提供综合性解决方案。</p>
                	</li>
                	<li >
                		<img src="../static/images/cooperative_4.png" alt="" style="margin-bottom: 40px;">
                		<p>福建海峡银行由中国人民银行总行批准，于1996年12月27日正式成立。致力于为客户提供全面、优质、高效的金融服务。</p>
                		<p>2016年6月16日，小满金服携手环迅支付与福建海峡银行签订三方存管合作协议，合力打造产业链金融服务生态圈，聚焦链群企业，提供基于产业链金融大产品平台的综合性服务。</p>
                	</li>
                	<li>
                		<img src="../static/images/cooperative_5.png" alt="" style="margin-bottom: 40px;">
                		<p> 亚马逊物流是国际主流物流商，在全球拥有123个运营中心，可跨国配送至185个国家，为中国卖家提供横贯中国大陆、跨越全球的无忧物流配送服务的坚实保障。    </p>
                		<p>201x年x月x日，小满电商携手亚马逊物流开展仓配一体化合作，这是亚马逊物流第一次向第三方电商平台提供仓储物流服务。小满电商、小满众筹、小满供应链项目与亚马逊物流的合作，形成了以小满金服为核心的完整的资金流、物流、信息流的供应链金融，在便捷高效的基础上更有效的管控风险。</p>
                	</li>
                </ul>
            </div>
        </div>
        <div class="plan layout part_hd">       	
    		<h2><span>小满金服合作计划</span></h2>
       	 	<p>小满金服真诚期待与您的合作</p>
       	 	<p style="margin-top:30px;"><img src="../static/images/cooperative_6.png" alt=""></p>
       	 	<p class="mt40">小满金服合作计划主要包括渠道合作、媒体合作、项目合作等相关合作，我们期待您的莅临，如有合作意向，请与我们联系</p>
       	 	<p style="margin-top: 35px; font-weight: bold;font-size: 24px; color: #5e5e5e">联系电话：0411-39567159</p>
        </div>
	</div>
	<!-- 内容结束 -->
	<!-- 页脚 -->
	<div class="footer mt40">
		<div class="layout footer_link">
			<div class="clearfix">
				<ul class="footer_col_1">
					<li>小满金服</li>
					<li><a href="">关于我们</a></li>
					<li><a href="">业务模式</a></li>
					<li><a href="">网站公告</a></li>
					<li><a href="">联系我们</a></li>
					<li><a href="">小满招聘</a></li>
				</ul>
				<ul class="footer_col_2">
					<li>帮助中心</li>
					<li><a href="">新手引导</a></li>
					<li><a href="">债权转让</a></li>
					<li><a href="">常见问题</a></li>
					<li><a href="">新手奖励</a></li>
					<li><a href="">邀请好友</a></li>
				</ul>
				<ul class="footer_col_3">
					<li>安全保障</li>
					<li>
						<li><a href="">安全保障</a></li>
						<li><a href="">禁止行为</a></li>
						<li><a href="">用户协议</a></li>
						<li><a href="">法律法规</a></li>
						<li><a href="">免责声明</a></li>
					</li>
					<!-- <li>市场合作 <br/><a href="mailto:Marketing@xiaomanjf.com">Marketing@xiaomanjf.com</a></li>
					<li>招商合作<br/><a href="mailto:zhaoshang@xiaomanjf.com">zhaoshang@xiaomanjf.com</a></li> -->
				</ul>
				<ul class="footer_col_4">
					<li style="margin-bottom: 10px;">客服热线</li>
					<li>400-844-5558 (9:00-18:00)</li>
					<li style="font-size: 14px;color: #fff;margin: 10px 0;">市场合作</li>
					<li>市场合作 <br/><a href="mailto:Marketing@xiaomanjf.com">Marketing@xiaomanjf.com</a></li>
				</ul>
				<ul class="footer_col_5">
				 	<li>
						<img src="../static/images/WeChat.jpg" alt="">
						<p>下载APP</p>
					</li>
					<li>
						<img src="../static/images/WeChat.jpg" alt="">
						<p>扫码关注小满金服</p>
					</li>
				</ul>
			</div>
			<div class="links">
				友情链接：
				<a href="">小满电商</a>
				<a href="">小满众筹</a>
				<a href="">淘宝</a>
				<a href="">天猫</a>
				<a href="">阿里巴巴</a>
				<a href="">百度</a>
				<a href="">新浪</a>
				<a href="">网易</a>
				<a href="">搜狐</a>
				<a href="">小满电商</a>
				<a href="">小满众筹</a>
				<a href="">百度</a>
				<a href="">新浪</a>
				<a href="">搜狐</a>
				<a href="">阿里巴巴</a>
				<a href="">淘宝</a>
				<a href="">小满众筹</a>
				<a href="">更多∨</a>
			</div>
		</div>	
		<div class="layout footer_bar">
			<p>Copyright &copy; 2016-2017小满金服(大连)有限公司  All Rights Reserved 辽ICP备16004265号-2</p>
			<p>地址：辽宁省大连市中山区延安路保嘉大厦15楼1516室    电话：400-844-5558</p>
		</div> 
	</div>
	<!-- 页脚结束 -->
	<!-- 右侧导航 -->
	<div class="nav_sidebar_right">
		<ul>	
			<!-- 签到成功添加CLASS ckeckinon -->
			<li>
				<a href="" class="nockeckin">
					<div class="nologin">
						<i class="arrow_pic"></i>
						<div class="check_tit">请登录</div>
					</div>	
					<div class="login">
						<i class="arrow_pic"></i>
						<div class="check_tit">已经签,获得300积分</div>
					</div>
				</a>
			</li>
			<li><a href="" class="xiaoman">
				<img src="../static/images/WeChat.jpg" alt="">
			</a></li>
			<li><a href="" class="focusus"></a></li>
			<li><a href="" class="contact"></a></li>
			<li><a href="" class="backtop"></a></li>
		</ul>
	</div>
	<!-- 右侧导航 end-->
<script src="../static/js/jquery.min.js"></script>	
<script src="../static/js/cas.js"></script>
<script type="text/javascript">
$(function () {
	$('.tabbar li').on('click',function(){
		var index = $(this).index();
		$(this).addClass('active').siblings().removeClass('active');
		$('.topimg').hide();
		$('.part_bd ul li').hide();
		$('.part_bd ul li').eq(index).fadeIn();
	});
});
</script>	
</body>
</html>