 <!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"> 
	<title>小满金服</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=1000,initial-scale=1,maximum-scale=1,user-scalable=yes">

	<link rel="Shortcut Icon" href="../static/favicon.ico">
	<!-- Standard iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../static/touch-icon-ipad-144.png" />  
	<!-- Retina iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../static/touch-icon-ipad-144.png" /> 
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="../static/css/disclaimer.css">
	<!--[if lt IE 9]>
	<script src="../static/js/html5.js"></script>
	<![endif]-->
</head> 
<body>
	<!-- 头部 --> 
	<header class="header"> 
		<!-- topbar -->
		<div class="topbar">
			<div class="layout">
				<div class="bar_left">
					<ul>
						<li><span>小满金服首页</span></li>
						<li style="margin-left: 40px;"><span>客服电话：400-844-5558</span></li>
						<li class="WeChat">
							<i></i>
							<div>
								<span><em></em></span>
								<img src="../static/images/WeChat.jpg">
								<p>扫一扫加微信</p>
							</div>
						</li>
						<li class="weibo">
							<i></i>
							<div>
								<span><em></em></span>
								<img src="../static/images/weibo.png">
								<p>扫一扫加微博</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="bar_right" style="display: none;">
					<a href="">登录</a>&nbsp;&nbsp;|&nbsp;
					<a href="">注册</a>
				</div>
				<!-- 登陆后显示 -->
				<div class="bar_right" >
					<span>欢迎您</span><a href="">boss</a> |
					<a href="javascript:;">退出</a>
				</div>
			</div>
		</div>
		<!-- topbar-end -->
		<!-- nav -->
		<nav class="nav">
			<div class="layout">
				<div class="nav_left">
					<!-- logo size 290px*64px -->
					<a href="" class="logo">
						<img src="../static/images/lclogo.png" alt="">
					</a>
				</div>
				<ul class="nav_right">
					<li><a href="" class="active">首页</a></li>
					<li class="">
						<a href="">新闻</a>
						<ul>
							<li><a href="">咨询</a></li>
							<li><a href="">视频</a></li>
						</ul>
					</li>
					<li><a href="">产业</a>
						<ul>
							<li><a href="">理财</a></li>
							<li><a href="">众筹</a></li>
						</ul>
					</li>
					<li><a href="">互动</a>
						<ul>
							<li><a href="">积分商城</a></li>
							<li><a href="">互动社区</a></li>
						</ul>
					</li>
					<li><a href="">关于</a>
						<ul>
							<li><a href="">公司简介</a></li>
							<li><a href="">合作伙伴</a></li>
							<li><a href="">招聘</a></li>
							<li><a href="">联系我们</a></li>
						</ul>
					</li>
					<li class="myaccount">
						<a href="myCenter.html">我的账户</a>
						<ul>
							<li><a href="">资产总览</a></li>
							<li><a href="">我的理财</a></li>
							<li><a href="">我的众筹</a></li>
							<li><a href="">我的积分</a></li>
							<li><a href="">安全中心</a></li>
						</ul>
					</li>

				</ul>
			</div>
		</nav>
		<!-- nav-end -->
	</header>
	<!-- 头部结束 -->
	<!-- 内容 -->
	<div class="content disclaimer layout mt40">
		<div class="fn-tc">
			<span class="title">免责声明</span>
			<span>DISCLAIMER</span>
		</div>
		<p>尊敬的用户，您好！</p>
		<p  class="fn_ti">
			首先感谢您登录小满金服控股集团网站www.xiaomanjf.com（以下简称“本网站”）并使用本网站提供的相关服务和产品（本网站包括小满金服总站及旗下各独立业务子站，小满金服理财，www.xiaomanjf.com/p2p；小满金服众筹，www.xiaoman-zc.com）。本网站郑重提示：任何机构或个人在接受本网站服务之前，请务必仔细阅读本《免责声明》。访问本网站以及通过各类方式利用本网站，都将被视作已完全知悉、理解并接受本声明的全部内容，能够承担网上产品交易可能带来的损失，小满金服控股集团保留对本声明的修改权、更新权及最终解释权。</p>
			<p>
				一、
			</p>
			<p  class="fn_ti">
				未经小满金服控股集团书面许可，任何机构或者个人不得以向他人出售牟利为目的，使用本网站的任何内容，此种使用包括但不限于拷贝、下载、存贮、通过硬拷贝或电子抓取系统获取、发送、转换、出租、演示、转载、复制、修改、销售、传播、出版或任何其它形式的散发，使用时须注明来源小满金服（URL：http://www.xiaomanjf.com/）和著作权系小满金服所有的标记。对于任何违反国家有关法律法规，不遵守本网站声明，不经本网站同意，擅自使用本网站内容并不注明出处的行为，以及歪曲和篡改本网站所发布的内容的行为，小满金服控股集团保留采取法律途径追究其法律责任的权利。对于任何单位和个人未经本网站同意的使用行为所造成的后果，本网站概不负责。
			</p>
			<p>
				二、
			</p>
			<p class="fn_ti">
				本网站引用、摘录或转载上述内容仅供访问者交流或参考，文中观点或信息与小满金服控股集团无关。如果您要使用或转载本网站包含的由其它组织、机构或个人提供的内容，请直接与适当的著作权持有人联系并获得合法授权，与之相关的任何事务以及法律责任均与小满金服控股集团无关。小满金服控股集团的任何董事或雇员也不就该等数据之任何错误或遗漏承担责任（包括任何第三者责任）。
			</p>
			<p>
				三、
			</p>
			<p class="fn_ti">
				1.任何在本网站上出现的信息（包括但不限于评论、预测、图表、指标、理论、直接的或暗示的指示），均只作为参考，您须对您自主决定的行为负责。
			</p>
			<p class="fn_ti">
				2.本网站提供的有关投资产品等金融产品的评论、投资分析报告、预测文章等信息仅供参考，本网站概不承担任何责任。
			</p>
			<p class="fn_ti">
				3.小满金服控股集团不对因本网站资料全部或部分内容产生的或因依赖该资料而引致的任何损失承担任何责任，也不对任何因本网站提供的资料不充分、不完整或未能提供特定资料产生的任何损失承担任何责任。
			</p>
			<p class="fn_ti">
				4、凡通过本网站与其他网站的链接，而获得其他网站所提供的网上资料、内容及服务，用户应该自己进行辨别及判断，并应当由该等网站对其提供内容承担相应责任，小满金服控股集团对此不承担任何责任。
			</p>
			<p class="fn_ti">
				5、本网站提供链接至其它网站，并不视为同意、推荐、认可、保证或推介任何第三方或在其网站所提供的服务或产品，不可视为与该等第三方及网站有任何形式的合作，更不视为对该等第三方及网站所提供的服务或产品提供任何形式的保证。
			</p>
			<p>
				四、
			</p>
			<p class="fn_ti">
				小满金服控股集团已经最大限度地采取有效措施保护投资者的资料和交易活动的安全。尽管如此，本着对投资者负责的态度，小满金服控股集团在此郑重提示投资者，下列风险造成的用户损失，均应由您自行承担使用本网站服务的所有风险及因该等风险可能造成的任何损害，本网站不承担任何明示或默示的保证责任：
			</p>
			<p class="fn_ti">
				该风险包括但不限于：
			</p>
			<p class="fn_ti">
				（1）地震、火灾、台风及其他各种不可抗力因素引起的停电、网络系统故障、电脑故障而造成您的经济损失；

			</p>
			<p class="fn_ti">
				（2）互联网是全球公共网络，并不受任何一个机构所控制。数据在互联网上传输的途径不是完全确定的，可能会受到非法干扰或侵入。 

			</p>
			<p class="fn_ti">（3）公司、其他合作方或相关电信部门的互联网软硬件设备故障、失灵或人为操作疏忽而全部或部分中断、延迟、遗漏、产生误导或造成资料传输或储存上的错误。
			</p>
			<p class="fn_ti">（4）遭黑客攻击、计算机病毒侵入系统而造成的个人资料泄露、丢失、被盗用或被篡改、因政府管制而造成不可抗力的暂时性关闭等影响网络正常经营等。
			</p>
			<p class="fn_ti">（5）国家因宏观政策、财政政策、货币政策、行业政策、地区发展、法律法规等因素引起的政策风险。</p>
			<p class="fn_ti">（6）互联网上发布的各种信息（包括但不限于分析、预测性的参考资料）可能出现错误并误导投资人。</p>
			<p class="fn_ti">（7）投资者的网上交易身份可能会被泄露或仿冒。</p>
			<p class="fn_ti">（8）投资者使用的计算机可能因存在性能缺陷、质量问题、计算机病毒、硬件故障及其他原因，而对投资者的交易时间或交易数据产生影响，给投资者造成损失。 
			</p>
			<p class="fn_ti">（9）由于用户将密码告知他人或与他人共享注册账户，由此导致的任何个人信息泄露；
			</p>
			<p class="fn_ti">（10）由于投资者的计算机应用操作能力或互联网知识的缺乏或对有关信息的错误理解，可能对投资者的交易时间或交易数据造成影响，因此给投资者造成损失。
			</p>
			<p class="fn_ti fn-we">用户需在此确认，小满金服控股集团对于用户所使用本网站的各项服务或无法使用各项服务所导致的任何直接、间接、衍生或特别损害，不应当承担任何法律责任。小满金服控股集团应当具有法律法规规定的其它有关免责规定项下所有的一切权利，如果小满金服控股集团没有主张或迟延主张该等权利，并不应当被视为小满金服控股集团对于该等权利的弃权。本风险提示条款与本网站内的其他协议、规则、通知、公告等，一并构成小满金服控股集团与您就本网站的服务或产品所达成的全部合意。
			</p>

		</div>
	<!-- 内容结束 -->
	<!-- 页脚 -->
	<div class="footer mt40">
		<div class="layout footer_link">
			<div class="clearfix">
				<ul class="footer_col_1">
					<li>小满金服</li>
					<li><a href="">关于我们</a></li>
					<li><a href="">业务模式</a></li>
					<li><a href="">网站公告</a></li>
					<li><a href="">联系我们</a></li>
					<li><a href="">小满招聘</a></li>
				</ul>
				<ul class="footer_col_2">
					<li>帮助中心</li>
					<li><a href="">新手引导</a></li>
					<li><a href="">债权转让</a></li>
					<li><a href="">常见问题</a></li>
					<li><a href="">新手奖励</a></li>
					<li><a href="">邀请好友</a></li>
				</ul>
				<ul class="footer_col_3">
					<li>安全保障</li>
					<li>
						<li><a href="">安全保障</a></li>
						<li><a href="">禁止行为</a></li>
						<li><a href="">用户协议</a></li>
						<li><a href="">法律法规</a></li>
						<li><a href="">免责声明</a></li>
					</li>
					<!-- <li>市场合作 <br/><a href="mailto:Marketing@xiaomanjf.com">Marketing@xiaomanjf.com</a></li>
					<li>招商合作<br/><a href="mailto:zhaoshang@xiaomanjf.com">zhaoshang@xiaomanjf.com</a></li> -->
				</ul>
				<ul class="footer_col_4">
					<li style="margin-bottom: 10px;">客服热线</li>
					<li>400-844-5558 (9:00-18:00)</li>
					<li style="font-size: 14px;color: #fff;margin: 10px 0;">市场合作</li>
					<li>市场合作 <br/><a href="mailto:Marketing@xiaomanjf.com">Marketing@xiaomanjf.com</a></li>
				</ul>
				<ul class="footer_col_5">
				 	<li>
						<img src="../static/images/WeChat.jpg" alt="">
						<p>下载APP</p>
					</li>
					<li>
						<img src="../static/images/WeChat.jpg" alt="">
						<p>扫码关注小满金服</p>
					</li>
				</ul>
			</div>
			<div class="links">
				友情链接：
				<a href="">小满电商</a>
				<a href="">小满众筹</a>
				<a href="">淘宝</a>
				<a href="">天猫</a>
				<a href="">阿里巴巴</a>
				<a href="">百度</a>
				<a href="">新浪</a>
				<a href="">网易</a>
				<a href="">搜狐</a>
				<a href="">小满电商</a>
				<a href="">小满众筹</a>
				<a href="">百度</a>
				<a href="">新浪</a>
				<a href="">搜狐</a>
				<a href="">阿里巴巴</a>
				<a href="">淘宝</a>
				<a href="">小满众筹</a>
				<a href="">更多∨</a>
			</div>
		</div>	
		<div class="layout footer_bar">
			<p>Copyright &copy; 2016-2017小满金服(大连)有限公司  All Rights Reserved 辽ICP备16004265号-2</p>
			<p>地址：辽宁省大连市中山区延安路保嘉大厦15楼1516室    电话：400-844-5558</p>
		</div> 
	</div>
	<!-- 页脚结束 -->
	<!-- 右侧导航 -->
	<div class="nav_sidebar_right">
		<ul>	
			<!-- 签到成功添加CLASS ckeckinon -->
			<li>
				<a href="" class="nockeckin">
					<div class="nologin">
						<i class="arrow_pic"></i>
						<div class="check_tit">请登录</div>
					</div>	
					<div class="login">
						<i class="arrow_pic"></i>
						<div class="check_tit">已经签,获得300积分</div>
					</div>
				</a>
			</li>
			<li><a href="" class="xiaoman">
				<img src="../static/images/WeChat.jpg" alt="">
			</a></li>
			<li><a href="" class="focusus"></a></li>
			<li><a href="" class="contact"></a></li>
			<li><a href="" class="backtop"></a></li>
		</ul>
	</div>
	<!-- 右侧导航 end-->
<script src="../static/js/jquery.min.js"></script>	
<script src="../static/js/cas.js"></script>
	
</body>
</html>