  <!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"> 
	<title>小满金服</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=1000,initial-scale=1,maximum-scale=1,user-scalable=yes">

	<link rel="Shortcut Icon" href="../static/favicon.ico">
	<!-- Standard iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../static/touch-icon-ipad-144.png" />  
	<!-- Retina iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../static/touch-icon-ipad-144.png" /> 
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="../static/css/disclaimer.css">
	<!--[if lt IE 9]>
	<script src="../static/js/html5.js"></script>
	<![endif]-->
</head> 
<body>
	<!-- 头部 --> 
	<header class="header"> 
		<!-- topbar -->
		<div class="topbar">
			<div class="layout">
				<div class="bar_left">
					<ul>
						<li><span>小满金服首页</span></li>
						<li style="margin-left: 40px;"><span>客服电话：400-844-5558</span></li>
						<li class="WeChat">
							<i></i>
							<div>
								<span><em></em></span>
								<img src="../static/images/WeChat.jpg">
								<p>扫一扫加微信</p>
							</div>
						</li>
						<li class="weibo">
							<i></i>
							<div>
								<span><em></em></span>
								<img src="../static/images/weibo.png">
								<p>扫一扫加微博</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="bar_right" style="display: none;">
					<a href="">登录</a>&nbsp;&nbsp;|&nbsp;
					<a href="">注册</a>
				</div>
				<!-- 登陆后显示 -->
				<div class="bar_right" >
					<span>欢迎您</span><a href="">boss</a> |
					<a href="javascript:;">退出</a>
				</div>
			</div>
		</div>
		<!-- topbar-end -->
		<!-- nav -->
		<nav class="nav">
			<div class="layout">
				<div class="nav_left">
					<!-- logo size 290px*64px -->
					<a href="" class="logo">
						<img src="../static/images/lclogo.png" alt="">
					</a>
				</div>
				<ul class="nav_right">
					<li><a href="" class="active">首页</a></li>
					<li class="">
						<a href="">新闻</a>
						<ul>
							<li><a href="">咨询</a></li>
							<li><a href="">视频</a></li>
						</ul>
					</li>
					<li><a href="">产业</a>
						<ul>
							<li><a href="">理财</a></li>
							<li><a href="">众筹</a></li>
						</ul>
					</li>
					<li><a href="">互动</a>
						<ul>
							<li><a href="">积分商城</a></li>
							<li><a href="">互动社区</a></li>
						</ul>
					</li>
					<li><a href="">关于</a>
						<ul>
							<li><a href="">公司简介</a></li>
							<li><a href="">合作伙伴</a></li>
							<li><a href="">招聘</a></li>
							<li><a href="">联系我们</a></li>
						</ul>
					</li>
					<li class="myaccount">
						<a href="myCenter.html">我的账户</a>
						<ul>
							<li><a href="">资产总览</a></li>
							<li><a href="">我的理财</a></li>
							<li><a href="">我的众筹</a></li>
							<li><a href="">我的积分</a></li>
							<li><a href="">安全中心</a></li>
						</ul>
					</li>

				</ul>
			</div>
		</nav>
		<!-- nav-end -->
	</header>
	<!-- 头部结束 -->
	<!-- 内容 -->
	<div class="content disclaimer layout mt40 agreement">
		<div class="fn-tc">
			<span class="title">用户使用协议</span>
			<span>USER AGREEMENT</span>
		</div>
		<p  class="fn_ti">
			本网站www.xiaomanjf.com（包括小满金服总站及旗下各独立业务子站，小满金服理财，www.xiaomanjf.com/；小满金服众筹,www.xiaoman-zc.com及客户端，下称“本网站”）由小满金服信息技术（大连）有限公司（下称“小满金服”）所有和负责运营，本协议双方为小满金服与本网站注册用户（下称“用户”或“您”），本协议具有合同效力，适用于您在本网站的全部活动。</p>
			<p  class="fn_ti">
				您注册成为本网站用户前请务必仔细阅读以下条款。一旦注册，您将接受小满金服的服务时必须受以下条款的约束。在您注册时，您同时享有小满金服总站及旗下各独立业务子站的服务，您承诺已经阅读、理解并接受本协议的全部条款及各类规则，并承诺遵守中国现行的法律、法规、规章及其他政府规定，如有违反而导致任何法律后果的发生，您将以自己的名义独立承担所有相应的法律责任。若您不接受或无法准确理解本协议的任何条款，请不要进行注册。
			</p>
			<p>
				一、本协议的签署和修订 
			</p>
			<p class="fn_ti">
				1.小满金服只接受中华人民共和国（不包括香港特别行政区、澳门特别行政区及台湾地区）的18周岁以上的具有完全民事权利和民事行为能力，能够独立承担民事责任的自然人成为本网站用户。如用户不符合资格，请勿注册。如用户不符合上述资格而进行注册的，小满金服保留中止或终止用户身份的权利，用户应对其注册给小满金服造成的全部损失承担赔偿责任，且用户的监护人应承担连带责任。
			</p><p class="fn_ti">
				2.本协议内容包括以下条款及已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的一部分，与本协议正文具有同等法律效力。本协议是由用户与小满金服共同签订的，适用于用户在小满金服的全部活动。在用户注册时，用户已经阅读、理解并接受本协议的全部条款及各类规则，并承诺遵守中国现行的法律、法规、规章和政府规范性文件，如有违反而导致任何法律后果的发生，用户将独立承担相应的法律责任。同时，小满金服有权要求用户改正或直接采取一切必要的措施以减轻用户不当行为造成的影响。 
			</p><p class="fn_ti">
				3.小满金服有权根据需要不时地修改本协议或制定、修改各类规则，如本协议及规则有任何变更，小满金服将在网站上刊载公告，经修订的协议、或制定、修订的规则一经公布后，立即自动生效。用户应不时地注意本协议及附属规则地变更，若用户不同意相关变更，小满金服有权不经任何告知终止、中止本协议或者限制用户对小满金服全部或者部分功能的使用且不承担任何法律责任。但该终止、中止或限制行为并不豁免用户在小满金服已进行的交易下所应承担的任何法律责任。 
			</p><p class="fn_ti">
				4.用户确认本协议后，本协议即在用户和小满金服之间产生法律效力。用户按照小满金服规定的注册程序成功注册为用户，即表示同意并签署了本协议，本协议即产生法律效力。本协议不涉及用户与小满金服的其他用户之间因网上交易而产生的法律关系及法律纠纷，但用户在此同意将全面接受和履行与小满金服其他用户在小满金服签订的任何电子法律文本，并承诺按该法律文本享有和/或放弃相应的权利、承担和/或豁免相应的义务。
			</p>
			<p>
				二、使用限制 
			</p>
			<p class="fn_ti">
				1.用户注册是指欲申请成为本网站用户的人员登录网站，并按要求填写相关信息并确认同意履行本协议及其他相关用户协议的过程。您在注册时须选择不违反法律法规及社会公德的用户名并提供自己的真实资料，并遵守如下要求：
			</p>
			<p class="fn_ti">
				①您必须提供真实、最新、有效及完整的资料，并且授予小满金服基于提供服务的目的，对您提供的资料及数据信息拥有永久的、免费的使用权利。

			</p>
			<p class="fn_ti">
				②您有义务维持并更新注册的用户资料，确保其为真实、最新、有效及完整的资料。如因您未及时更新资料导致小满金服无法提供服务或提供服务时发生任何错误，您不得将此作为取消交易或拒绝付款的理由，小满金服亦不承担任何责任，所有后果应由您承担。
			</p>
			<p class="fn_ti">
				③若您提供任何错误、虚假、过时或不完整的资料，或者小满金服依其独立判断怀疑资料为错误、虚假、过时或不完整的，小满金服有权暂停或终止您在本网站的注册账号，并拒绝您使用本网站服务的部分或全部功能。在此情况下，小满金服不承担任何责任，您同意承担由此所产生的直接或间接的任何支出或损失。
			</p>
			<p class="fn_ti">
				2.用户承诺合法使用小满金服提供的服务及网站内容。禁止在小满金服从事任何可能违反中国现行的法律、法规、规章和政府规范性文件的行为、侵犯他人合法权益的行为或者任何未经授权使用小满金服的行为，如擅自进入小满金服的未公开系统、不正当地使用密码和网站任何内容等。
			</p>
			<p class="fn_ti">
				3.用户注册成功后，不得将小满金服的用户名转让给第三方或者授权给第三方使用。用户确认，使用本人的用户名和密码登陆小满金服后在小满金服的一切行为以及以用户在小满金服注册时提交的个人电子邮箱发送邮件的行为均代表用户本人并由用户本人承担相应的法律后果。使用用户的用户名和密码登陆操作所产生的电子信息记录均为用户行为的有效凭据。 

			</p>
			<p class="fn_ti">
				4.用户未能及时对交易状态进行修改或确认或未能提交相关申请所引起的任何纠纷或损失由用户本人负责，小满金服不承担任何责任。 
			</p>
			<p class="fn_ti">
				5.小满金服网站中全部内容的知识产权（包括但不限于商标权、专利权、著作权、商业秘密等）均属于小满金服所有，该等内容包括但不限于文本、数据、文章、设计、源代码、软件、图片、照片及其他全部信息（以下称“网站内容”）。网站内容受中华人民共和国知识产权法及各国际版权公约的保护。未经小满金服事先书面同意，用户承诺不以任何方式、不以任何形式复制、模仿、传播、出版、公布、展示网站内容，包括但不限于电子的、机械的、复印的、录音录像的方式和形式等。用户承认网站内容是属于小满金服的财产。未经小满金服书面同意，用户亦不得将小满金服网站包含的资料等任何内容镜像到任何其他网站或者服务器。任何未经授权对网站内容的使用均属于违法行为，小满金服将追究用户的法律责任。
			</p>
			<p class="fn_ti">
				6.经国家生效法律文书或行政处罚决定确认用户存在违法行为，或者小满金服有足够事实依据可以认定用户存在违法或违反本协议的行为的或者用户借款逾期未还的，用户在此同意并授权小满金服在因特网络上公布用户的违法、违约行为及用户事先提供给小满金服的信息和资料，并将该等内容记入任何与用户相关的信用资料和档案。 
			</p>
			<p class="fn_ti">
				7.用户决定不再使用注册用户名时，应首先清偿所有应付款项（包括但不限于借款本金、利息、逾期利息、催收费用、服务费等），并向小满金服申请注销该注册用户名。注册用户名被注销后，用户与拍小满金服关于本协议的合同关系终止，小满金服没有义务为用户保留或向用户披露注册账户中的任何信息。
			</p>
			<p class="fn_ti">
				用户连续12个月未使用用户的小满金服登录名或小满金服认可的其他方式登录过本网站，小满金服有权注销用户名下的全部或部分小满金服登录名及小满金服账户，用户将不能再通过该登录名登录本网站或使用相关小满金服账户；如该相关小满金服账户内有余额，用户可按照小满金服相关流程将其转到用户的其他小满金服帐户或本人同名银行帐户。
			</p>
			<p>
				三、涉及第三方网站 
			</p>
			<p class="fn_ti">
				小满金服的网站内容可能涉及由第三方所有、控制或者运营的其他网站（以下称“第三方网站”）。小满金服不能保证也没有义务保证第三方网站上的信息的真实性和有效性。用户确认按照第三方网站的服务协议使用第三方网站，而不是按照本协议。第三方网站不是小满金服推荐或者介绍的，第三方网站的内容、产品、广告和其他任何信息均由用户自行判断并承担风险，而与小满金服无关。 
			</p>
			<p>
				四、不保证 
			</p>
			<p class="fn_ti">
				除小满金服明确表示提供担保的业务外，小满金服提供的服务中不带有对小满金服中的任何用户、任何交易的任何保证或条件，无论是明示、默示或法定的。小满金服对小满金服的服务商向用户提供的服务不提供任何形式的承诺或保证。用户在小满金服上发布的信息系用户自行发布和提供，小满金服不承担任何形式的证明、鉴证服务，依赖于用户自己的判断进行交易，并由用户自行承担全部责任。小满金服不就持续地、不受影响地或安全地接触并接受小满金服服务作出保证，且小满金服网站的经营可能受小满金服无法控制的多种外部因素影响。 
			</p>
			<p>
				五、责任限制 
			</p>
			<p class="fn_ti">
				1.用户在注册时向小满金服提交的用户名、密码、电子邮箱及安全问题答案是用户在网站的唯一身份识别信息，用户应妥善保管用户名、密码等与使用小满金服服务有关的一切信息，不向其他任何人泄露此等信息。如因非小满金服的原因造成此等信息泄露或遭到非法使用的，用户应及时通知小满金服，以减少可能发生的损失，因上述原因导致的全部损失需由用户自行承担。 
			</p>
				<p class="fn_ti">
				2.如由于小满金服及相关第三方的设备、系统故障或缺陷、病毒、黑客攻击、网络故障、网络中断、地震、台风、水灾、海啸、雷电、火灾、瘟疫、流行病、战争、恐怖主义、敌对行为、暴动、罢工、交通中断、停止供应主要服务、电力中断、经济形势严重恶化、政府管制或其他不可抗力事件，致使小满金服未能履行本协议、提供服务或履行本协议、提供服务不符合约定的，不构成小满金服违约，对于因此导致的损失，小满金服将不承担任何责任。
			</p>
				<p class="fn_ti">
				3.在任何情况下，小满金服对用户使用小满金服服务而产生的任何形式的直接或间接损失均不承担法律责任，包括但不限于：资金损失、利润损失、营业中断损失等。因为小满金服或者涉及的第三方网站的设备、系统存在缺陷或者因为计算机病毒造成的损失，小满金服均不负责赔偿，用户的补救措施只能是与小满金服终止本协议并停止使用小满金服。但是，中国现行法律、法规另有规定的除外。在任何情况下，小满金服对本协议所承担的违约赔偿责任总额不超过向用户收取的当次服务费用总额。
			</p>
            
            <p>
				六、网站内容监测 
			</p>
			<p class="fn_ti">
				小满金服没有义务监测网站内容，但是用户确认并同意小满金服有权不时地根据法律、法规、政府要求透露、修改或者删除相关的信息，以便更好地运营小满金服并保护自身及小满金服的其他合法用户。
			</p>

			 <p>
				七、隐私规则 
			</p>
			<p class="fn_ti">
				小满金服对于用户提供的、自行收集的、经认证的个人信息将按照本规则予以保护、使用或者披露。当用户作为借入人借款逾期未还时，小满金服及作为借出人的其他用户可以采取发布用户的个人信息的方式追索债权，且小满金服对上述行为免责。 
			</p>
            <p class="fn_ti">
            	1. 涉及的个人资料 
            </p>
            <p class="fn_ti">
            	①用户有义务在注册及使用小满金服服务的所有期间提供自己的真实、准确的资料和信息，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性和及时更新，以便小满金服为用户提供服务并与用户进行及时、有效的联系。用户应完全独自承担因通过前述联系方式无法与用户取得联系而导致的用户在使用本服务过程中遭受的任何损失或增加任何费用等不利后果。若用户提供任何错误、虚假、过时或不完整的资料和信息，或者小满金服有合理的理由怀疑资料、信息为错误、虚假、过时或不完整的，小满金服有权中止、终止本协议或者限制用户对小满金服全部或者部分功能的使用且不承担任何法律责任。如用户因网上交易与其他用户产生诉讼的，小满金服将根据隐私规则披露相关用户资料。
            </p>
            <p class="fn_ti">
            	
            </p>
            <p class="fn_ti">
            	②如用户使用他人信息和文件注册小满金服或向小满金服提供的信息和资料不符合前述规定，由此引起的一切责任和后果全部由用户本人承担，小满金服不因此承担任何法律责任，如因此而给小满金服及其他用户造成任何损失，用户应承担全部赔偿责任。 
            </p>
            <p class="fn_ti">
            	③用户提供给小满金服的个人资料及用户同意小满金服收集的个人资料的主要目的在于向用户提供一个顺利、有效和度身订造的交易经历。
 
            </p>
            <p class="fn_ti">
            	④小满金服可能自公开来源了解用户的情况，并为其度身订造小满金服服务、解决争议并有助确保在网站进行安全交易。
            </p>
            <p class="fn_ti">
            	⑤小满金服按照用户在小满金服网站上的行为自动追踪关于用户的某些资料。小满金服利用这些资料进行有关小满金服之用户的人口统计、兴趣及行为的内部研究，以更好地了解用户及向用户和小满金服的用户社区提供更好的服务。 
            </p>
            <p class="fn_ti">
            	⑥小满金服在小满金服的某些网页上使用诸如"Cookies"的资料收集装置。 
            </p>
            <p class="fn_ti">
            	⑦如果用户将个人通讯信息（包括但不限于手机短信、微信、电邮或信件）交付给小满金服，或如果其他用户或第三方向小满金服发出关于用户在小满金服上的活动或登录事项的通讯信息，小满金服可以将这些资料收集在用户的专门档案中。
            </p>
            <p class="fn_ti">
            	2 .小满金服对用户的资料的使用 
            </p>
            <p class="fn_ti">
            	①用户同意小满金服可使用关于用户的个人资料（包括但不限于小满金服持有的有关用户的档案中的资料，及小满金服从用户目前及以前在小满金服上的活动所获取的其他资料）以解决争议、对纠纷进行调停、有助于确保在小满金服进行安全交易，并执行小满金服的服务协议。小满金服有时候可能调查多个用户以识别问题或解决争议，特别是小满金服可审查用户的资料以区分使用多个用户名或别名的用户。为禁止用户在小满金服上的欺诈、非法或其他刑事犯罪活动，使小满金服免受其害，用户同意小满金服可通过人工或自动程序对用户的个人资料进行评价。用户同意小满金服可以使用用户的个人资料以改进小满金服的推广和促销工作、分析网站的使用率、改善小满金服的内容和产品推广形式，并使小满金服的网站内容、设计和服务更能符合用户的要求。这些使用能改善小满金服的网页，以调整小满金服的网页使其更能符合用户的需求，从而使用户在使用小满金服服务时得到更为顺利、有效、安全及度身订造的交易体验。用户同意小满金服向相关合作机构（该合作机构仅限于小满金服为了完成拟向用户提供服务而合作的机构）提供用户的资料与信息。用户同意，小满金服可不定期对用户信息进行抽查、核实以识别问题或解决争议，特别是小满金服可审查用户的资料以区分使用多个用户名或别名的用户。
            </p>
            <p class="fn_ti">
            	②用户同意小满金服利用用户的资料与用户联络并向用户传递（在某些情况下）针对用户的兴趣而提供的信息，包括但不限于有针对性的广告条、行政管理方面的通知、产品提供以及有关用户使用小满金服的通讯。 

            </p>
            <p class="fn_ti">
            	3 .小满金服对用户的资料的披露 
            </p>
            <p class="fn_ti">
            	①虽然小满金服采用行业标准惯例以保护用户的个人资料，鉴于技术限制，小满金服不能确保用户的全部私人通讯及其他个人资料不会通过本隐私规则中未列明的途径泄露出去。
            </p>
            <p class="fn_ti">
            	②小满金服有义务根据有关法律要求向司法机关和政府部门提供用户的个人资料。在用户未能按照与小满金服签订的服务协议或者与小满金服其他用户签订的借款协议等其他法律文本的约定履行自己应尽的义务时，小满金服有权根据自己的判断或者与该笔交易有关的其他用户的请求披露用户的个人资料，并做出评论。用户的借款逾期超过30天的，小满金服有权对用户提供的及小满金服自行收集的用户的个人信息和资料编辑入网站黑名单，并将该黑名单对第三方披露，且小满金服有权将用户提交的资料或小满金服在公开领域了解的用户的情况与任何第三方进行数据共享，以便网站和第三方催收逾期借款及对用户的其他申请进行审核之用，由此因第三方的行为造成用户损失，小满金服不承担法律责任。
            </p>
            <p class="fn_ti">
            	4 .用户对其他用户的资料的使用 
            </p>
            <p class="fn_ti">
            	在小满金服提供的交易活动中，用户无权要求小满金服提供其他用户的个人资料，除非符合以下条件： 
            </p>
            <p class="fn_ti">
            	①用户已向法院起诉其他用户的在小满金服活动中的违约行为； 
            </p>
            <p class="fn_ti">
            	②接受用户贷款的借款人逾期未归还借款本息； 
            </p>
            <p class="fn_ti">
            	③小满金服被吊销营业执照、解散、清算、宣告破产或者其他有碍于用户收回借款本息的情形。
            </p>
            <p class="fn_ti">
            	5 .电子邮件和群组 
            </p>
            <p class="fn_ti">
            	用户不得使用小满金服提供的站内信服务、群组服务或其他电子邮件转发服务发出垃圾邮件、信息或其他可能违反小满金服的服务协议的内容。小满金服在发现用户从事该等活动或发布该等内容时，有权不经用户同意直接删除该等内容，并有权不经任何告知中止、终止本协议或者限制用户对小满金服全部或者部分功能的使用且不承担任何法律责任。如果用户利用小满金服的服务向没有在小满金服内注册的电子邮件地址发出电子邮件，小满金服除了利用该电子邮件地址发出用户的电子邮件之外将不作任何其他用途。小满金服不会出租或出售这些电子邮件地址。小满金服不会永久储存电子邮件信息或电子邮件地址。
            </p>
            <p class="fn_ti">
            	6 .密码的安全性
            </p>
             <p class="fn_ti">
            	用户须对使用用户的用户名和密码所采取的一切行为负责。因此，用户不要向任何第三方披露用户在小满金服的用户名和密码，否则由此造成的损失由用户自行承担。
            </p>
             <p>
				八、赔偿 
			</p>
			 <p class="fn_ti">
            	就任何第三方提出的，由于用户违反本协议及纳入本协议的条款和规则或用户违反任何法律、法规或侵害第三方的权利而产生或引起的每一种类和性质的任何索赔、要求、诉讼、损失和损害（实际的、特别的及有后果的），无论是已知或未知的，包括合理的律师费，用户同意就此对小满金服和（如适用）小满金服的母公司、子公司、关联公司、高级管理人员、董事、代理人和雇员进行全额赔偿并使其免受损害。 
            </p>
             <p>
				九、终止 
			</p>
			 <p class="fn_ti">
            	1.除非小满金服终止本协议或者用户申请终止本协议且经小满金服同意，否则本协议始终有效。小满金服有权在不通知用户的情况下在任何时间终止本协议或者限制用户使用小满金服。但该等终止、限制行为不能免除用户根据本协议或接受小满金服服务期间产生的其他协议项下尚未履行完毕的义务。 
            </p>
             <p class="fn_ti">
            	2.用户决定不再使用用户账户时，应首先清偿所有应付款项（包括但不限于借款本金、利息、罚息、违约金、服务费、管理费等），再将用户账户中的可用款项（如有）全部提现或者向小满金服发出其它合法的支付指令，并向小满金服申请注销该用户账户，经小满金服审核同意后可正式注销用户账户。  
            </p>

            <p class="fn_ti">
            	3.当用户不再符合本协议第一条款第一条约定的用户注册身份条件（包括但不限于不再具有中国大陆公民身份、因故身亡、丧失民事行为能力等）致使本协议、小满金服提供服务期间产生的其他协议无法履行时，本协议及其他协议依法终止，小满金服有权不经通知随时关闭其账户。用户的合法授权代表、继承人、监护人、直系亲属在提交相关证明文件后，可向小满金服申请查询用户在小满金服的账户信息及其他交易信息，并办理资产的转移。 
            </p>
             <p>
				十、通知 
			</p>
			 <p class="fn_ti">
            	本协议项下的通知如以公示方式作出，一经在小满金服公示即视为已经送达。除此之外，其他向用户个人发布的具有专属性的通知将由小满金服向用户在注册时提供的电子邮箱，或小满金服在用户的个人账户中为用户设置的站内消息系统栏，或用户在注册后在小满金服绑定的手机发送，一经发送即视为已经送达。用户应密切关注其电子邮箱、站内消息系统栏中的邮件、信息及手机中的短信信息。用户同意小满金服出于向用户提供服务之目的，可以向用户的电子邮箱、站内消息系统栏和手机发送有关通知或提醒；用户同时同意并确认，若用户设置了不接收有关通知或提醒，则用户有可能收不到该等通知信息，用户不得以用户未收到或未阅读该等通知信息主张相关通知未送达于用户。  
            </p>
            <p>
				十一、适用法律和管辖 
			</p>
			 <p class="fn_ti">
            	本协议的订立、执行、解释以及因小满金服提供服务所产生的争议均适用中华人民共和国法律，并由小满金服住所地的上海市浦东新区人民法院管辖。  
            </p>
             <p>
				十二、其他 
			</p>
			 <p class="fn_ti">
            	1 .本网站对本协议拥有最终的解释权。  
            </p>
             <p class="fn_ti">
            	2 .在小满金服的某些部分或页面中可能存在除本协议以外的单独的附加服务条款，当这些条款存在冲突时，在该些部分和页面中附加条款优先适用。
            </p>
             <p class="fn_ti">
            	3.用户同意小满金服有权随时根据有关法律、法规、政策的变化以及公司经营状况和经营策略的调整等修改本协议，而无需另行单独通知用户。如果用户继续使用小满金服服务，则视为用户接受小满金服对本协议相关条款所做的修改。用户可随时通过网站浏览等了解最新协议条款。当发生有关争议时，以最新的协议文本为准。   
            </p>
             <p class="fn_ti">
            	4 .若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。 
            </p>
             <p>
				十三、投诉与建议
			</p>
			<p class="fn_ti fn-we">用户对小满金服有任何投诉和建议，请将投诉和建议发送到： service@xiaomanjf.com
			</p>
			<p class="fn_ti fn-we">最后更新日期： 2016年6月29日
			</p>

		</div>
	<!-- 内容结束 -->
	<!-- 页脚 -->
	<div class="footer mt40">
		<div class="layout footer_link">
			<div class="clearfix">
				<ul class="footer_col_1">
					<li>小满金服</li>
					<li><a href="">关于我们</a></li>
					<li><a href="">业务模式</a></li>
					<li><a href="">网站公告</a></li>
					<li><a href="">联系我们</a></li>
					<li><a href="">小满招聘</a></li>
				</ul>
				<ul class="footer_col_2">
					<li>帮助中心</li>
					<li><a href="">新手引导</a></li>
					<li><a href="">债权转让</a></li>
					<li><a href="">常见问题</a></li>
					<li><a href="">新手奖励</a></li>
					<li><a href="">邀请好友</a></li>
				</ul>
				<ul class="footer_col_3">
					<li>安全保障</li>
					<li>
						<li><a href="">安全保障</a></li>
						<li><a href="">禁止行为</a></li>
						<li><a href="">用户协议</a></li>
						<li><a href="">法律法规</a></li>
						<li><a href="">免责声明</a></li>
					</li>
					<!-- <li>市场合作 <br/><a href="mailto:Marketing@xiaomanjf.com">Marketing@xiaomanjf.com</a></li>
					<li>招商合作<br/><a href="mailto:zhaoshang@xiaomanjf.com">zhaoshang@xiaomanjf.com</a></li> -->
				</ul>
				<ul class="footer_col_4">
					<li style="margin-bottom: 10px;">客服热线</li>
					<li>400-844-5558 (9:00-18:00)</li>
					<li style="font-size: 14px;color: #fff;margin: 10px 0;">市场合作</li>
					<li>市场合作 <br/><a href="mailto:Marketing@xiaomanjf.com">Marketing@xiaomanjf.com</a></li>
				</ul>
				<ul class="footer_col_5">
				 	<li>
						<img src="../static/images/WeChat.jpg" alt="">
						<p>下载APP</p>
					</li>
					<li>
						<img src="../static/images/WeChat.jpg" alt="">
						<p>扫码关注小满金服</p>
					</li>
				</ul>
			</div>
			<div class="links">
				友情链接：
				<a href="">小满电商</a>
				<a href="">小满众筹</a>
				<a href="">淘宝</a>
				<a href="">天猫</a>
				<a href="">阿里巴巴</a>
				<a href="">百度</a>
				<a href="">新浪</a>
				<a href="">网易</a>
				<a href="">搜狐</a>
				<a href="">小满电商</a>
				<a href="">小满众筹</a>
				<a href="">百度</a>
				<a href="">新浪</a>
				<a href="">搜狐</a>
				<a href="">阿里巴巴</a>
				<a href="">淘宝</a>
				<a href="">小满众筹</a>
				<a href="">更多∨</a>
			</div>
		</div>	
		<div class="layout footer_bar">
			<p>Copyright &copy; 2016-2017小满金服(大连)有限公司  All Rights Reserved 辽ICP备16004265号-2</p>
			<p>地址：辽宁省大连市中山区延安路保嘉大厦15楼1516室    电话：400-844-5558</p>
		</div> 
	</div>
	<!-- 页脚结束 -->
	<!-- 右侧导航 -->
	<div class="nav_sidebar_right">
		<ul>	
			<!-- 签到成功添加CLASS ckeckinon -->
			<li>
				<a href="" class="nockeckin">
					<div class="nologin">
						<i class="arrow_pic"></i>
						<div class="check_tit">请登录</div>
					</div>	
					<div class="login">
						<i class="arrow_pic"></i>
						<div class="check_tit">已经签,获得300积分</div>
					</div>
				</a>
			</li>
			<li><a href="" class="xiaoman">
				<img src="../static/images/WeChat.jpg" alt="">
			</a></li>
			<li><a href="" class="focusus"></a></li>
			<li><a href="" class="contact"></a></li>
			<li><a href="" class="backtop"></a></li>
		</ul>
	</div>
	<!-- 右侧导航 end-->
<script src="../static/js/jquery.min.js"></script>	
<script src="../static/js/cas.js"></script>
	
</body>
</html>