@charset "utf-8";
/*错误提示共通样式*/
@import  "helpers/_mixins.scss";  

.tip{
	position: absolute;
    /*line-height: 22px;*/
	background-color: #fff;
    border:1px solid #ff9c00;
    color: #ff9c00;
    z-index: 100;
    line-height:20px;
    text-align:center;
    @include border-radius(4px)
    opacity: 0;
    @include transition(.8s);
    padding:10px;
}
.tip_show{
	opacity: 1;
	 @include transition(.8s)
}
.tip:before{
    content: ""; 
    display: block;
    position: absolute;
    width: 15px;
    height: 10px;
    background: url(../images/sprite.png) no-repeat; 
    background-position: -317px -21px;
	left: 50%;
	top: -10px;
    margin-left:-7px;
}
.tip:after{
    content: "";
    display: block;
}

.error{
    position: absolute;
    i{
        background-position: -160px -137px;
        width:19px;
        height:18px;
        margin-right:5px;
    }
}