@charset "UTF-8";
/*首页index*/
/*分页共通样式*/
.somePage {
  width: 1000px;
  margin: 10px auto 0;
  text-align: right; }
  .somePage a {
    /*padding: 0 9px;*/
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 3px;
    display: inline-block;
    text-align: center;
    border: 1px solid #dbdada;
    color: #666;
    font-weight: 700;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
    .somePage a:hover {
      background: #ff9c00;
      color: #fff;
      border: 1px solid #ff9c00; }
  .somePage .iconPagePrev, .somePage .iconPageNext {
    padding: 0 9px;
    width: 50px;
    height: 26px;
    line-height: 26px;
    color: #666;
    border: 1px solid #dbdada;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -o-border-radius: 13px;
    border-radius: 13px; }
    .somePage .iconPagePrev:hover, .somePage .iconPageNext:hover {
      background: #ff9c00;
      color: #fff;
      border: 1px solid #ff9c00; }
  .somePage a.current {
    background: #ff9c00;
    color: #fff;
    border: 1px solid #ff9c00; }

.show {
  display: none; }

.em {
  color: #ff9c00 !important; }

.lz_name {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 800; }
  .lz_name i {
    width: 32px;
    height: 20px;
    margin-left: 10px;
    background-position: -160px -200px; }
  .lz_name i.active {
    background-position: -200px -200px; }

.number {
  font-size: 22px; }

.title {
  font-size: 16px;
  color: #696969;
  padding: 10px 0; }
  .title strong {
    font-size: 12px;
    font-weight: 300;
    padding-left: 5px; }

.myInformation {
  width: 970px;
  padding: 20px 15px;
  color: #6d6d6d;
  background: #fff; }
  .myInformation li {
    float: left; }
  .myInformation .headPortrait {
    width: 98px;
    height: 98px; }
    .myInformation .headPortrait img {
      width: 98px;
      height: 98px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
  .myInformation .myName {
    width: 180px;
    height: 98px;
    padding: 0 0 0 30px;
    text-align: left; }
    .myInformation .myName .phone {
      padding-left: 10px; }
    .myInformation .myName .name {
      display: inline-block;
      margin-top: 15px; }
    .myInformation .myName .integral {
      display: block;
      padding-top: 5px; }
    .myInformation .myName .riskType {
      padding-top: 5px;
      color: #ff9c00;
      display: inline-block; }
  .myInformation .myIp {
    width: 250px;
    height: 98px;
    line-height: 98px;
    padding: 0 0 0 20px;
    text-align: left; }
  .myInformation .riskAssessment {
    width: 200px;
    height: 98px;
    padding: 0 0 0 30px; }
    .myInformation .riskAssessment .integral {
      display: inline-block;
      margin-top: 15px; }
    .myInformation .riskAssessment .in_list {
      padding-top: 15px; }
      .myInformation .riskAssessment .in_list span {
        font-size: 24px; }
      .myInformation .riskAssessment .in_list a {
        padding-left: 20px;
        text-decoration: underline; }
  .myInformation .grade {
    width: 100px;
    height: 98px;
    text-align: center; }
    .myInformation .grade .grade_list {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-top: 30px; }
    .myInformation .grade .phone {
      background-position: -159px -51px; }
    .myInformation .grade .idCard {
      background-position: -189px -51px; }
    .myInformation .grade .message {
      background-position: -219px -51px; }
    .myInformation .grade .phone.active {
      background-position: -159px -21px; }
    .myInformation .grade .idCard.active {
      background-position: -189px -21px; }
    .myInformation .grade .message.active {
      background-position: -219px -21px; }

.lc_information {
  background: #fff;
  padding: 20px 15px 30px;
  margin: 20px auto; }
  .lc_information ul {
    float: left; }
  .lc_information .amount {
    width: 44%;
    height: 187px;
    border-right: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding-right: 40px; }
    .lc_information .amount li {
      float: left;
      width: 50%;
      height: 50%; }
      .lc_information .amount li span {
        display: block; }
      .lc_information .amount li span:first-child {
        padding: 10px 0;
        /*border-bottom:1px solid #e6e6e6;*/ }
      .lc_information .amount li span.hide {
        /*padding: 10px 0 20px;*/
        line-height: 44px; }
      .lc_information .amount li span.show {
        display: none;
        line-height: 60px;
        /*padding: 10px 0 30px;*/ }
    .lc_information .amount li:nth-child(2), .lc_information .amount li:nth-child(1) {
      border-bottom: 1px solid #e6e6e6; }
    .lc_information .amount li:last-child {
      width: 100%; }
    .lc_information .amount .balance {
      padding: 10px 10px 10px 0; }
    .lc_information .amount .account {
      padding: 40px 0px 20px 0; }
      .lc_information .amount .account a {
        width: 120px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        margin-right: 30px; }
  .lc_information .assest {
    width: 31%;
    height: 187px;
    border-right: 1px solid #e6e6e6;
    padding: 0 2%; }
    .lc_information .assest li {
      float: left;
      width: 50%;
      height: 50%; }
      .lc_information .assest li span {
        display: block; }
      .lc_information .assest li span:first-child {
        padding: 10px 0; }
      .lc_information .assest li span.hide {
        /*padding: 10px 0 20px;*/
        line-height: 44px; }
      .lc_information .assest li span.show {
        display: none;
        line-height: 60px;
        /*padding: 10px 0 30px;*/ }
    .lc_information .assest li:nth-child(3) span:first-child, .lc_information .assest li:nth-child(4) span:first-child {
      padding: 20px 0 0; }
    .lc_information .assest li:nth-child(3) span.hide, .lc_information .assest li:nth-child(4) span.hide {
      padding: 0; }
    .lc_information .assest li:nth-child(3) span.show, .lc_information .assest li:nth-child(4) span.show {
      display: none;
      line-height: 60px;
      /*padding:20px 0 0;*/ }
  .lc_information .coupon {
    width: 20%;
    text-align: center; }
    .lc_information .coupon span {
      display: block; }
    .lc_information .coupon span:first-child {
      padding: 40px 20px 20px; }
    .lc_information .coupon a {
      display: block;
      padding: 10px 0 0 0;
      text-decoration: underline; }

.zc_information {
  background: #fff;
  padding: 20px 15px 0; }
  .zc_information .zc {
    height: 187px;
    padding-bottom: 70px; }
    .zc_information .zc .zc_list {
      width: 50%;
      float: left; }
      .zc_information .zc .zc_list .zc_item {
        height: 50%;
        height: 100%; }
        .zc_information .zc .zc_list .zc_item span {
          display: block; }
        .zc_information .zc .zc_list .zc_item span.hide {
          line-height: 44px; }
        .zc_information .zc .zc_list .zc_item span.show {
          line-height: 44px; }
        .zc_information .zc .zc_list .zc_item .show {
          display: none; }
        .zc_information .zc .zc_list .zc_item li {
          float: left;
          width: 33.3%; }
      .zc_information .zc .zc_list .zc_item:first-child {
        border-bottom: 1px solid #e6e6e6; }
      .zc_information .zc .zc_list .operation {
        margin: 50px 162px; }
        .zc_information .zc .zc_list .operation a {
          display: block;
          width: 160px;
          height: 30px;
          line-height: 30px;
          color: #fff;
          margin-bottom: 20px; }
    .zc_information .zc .zc_list:first-child {
      border-right: 1px solid #e6e6e6;
      box-sizing: border-box;
      padding-right: 40px; }
  .zc_information .icon {
    height: 140px;
    padding: 0 50px 20px; }
    .zc_information .icon li {
      width: 25%;
      height: 120px;
      float: left;
      text-align: center; }
      .zc_information .icon li a {
        display: inline-block;
        width: 210px;
        height: 120px; }
        .zc_information .icon li a:hover span {
          color: #ff9c00; }
        .zc_information .icon li a:hover .order {
          background-position: -97px -169px; }
        .zc_information .icon li a:hover .support {
          background-position: -96px -259px; }
        .zc_information .icon li a:hover .follow {
          background-position: -97px -351px; }
        .zc_information .icon li a:hover .launch {
          background-position: -200px 0; }
      .zc_information .icon li i {
        width: 80px;
        height: 85px;
        display: block;
        margin: 20px auto 0;
        background: url(../images/icon.png); }
      .zc_information .icon li span {
        display: block;
        margin: 10px auto 0; }
    .zc_information .icon li:last-child i {
      margin: 0 auto;
      height: 100px;
      width: 100px; }
    .zc_information .icon li:last-child span {
      margin-top: 15px; }
    .zc_information .icon li:nth-child(3) i {
      width: 95px; }
    .zc_information .icon .order {
      background-position: 0 -169px; }
    .zc_information .icon .support {
      background-position: 0 -259px; }
    .zc_information .icon .follow {
      background-position: 0 -351px; }
    .zc_information .icon .launch {
      background-position: -97px 0; }

.jf_information {
  background: #fff;
  padding: 20px 15px 10px; }
  .jf_information .myOrder {
    width: 100%;
    color: #6d6d6d; }
    .jf_information .myOrder .myOrder_list {
      height: 190px; }
      .jf_information .myOrder .myOrder_list li {
        width: 258px;
        height: 148px;
        border: 1px solid #c8c8c8;
        float: left;
        margin-right: 25px;
        margin-top: 20px;
        text-align: center;
        line-height: 148px; }
        .jf_information .myOrder .myOrder_list li span {
          color: #f43500;
          padding-left: 5px; }
      .jf_information .myOrder .myOrder_list li:first-child {
        margin-left: 70px; }
    .jf_information .myOrder .look {
      height: 270px; }
      .jf_information .myOrder .look li {
        width: 228px;
        height: 228px;
        margin-top: 20px;
        border: 1px solid #c8c8c8;
        border-right: none;
        float: left; }
        .jf_information .myOrder .look li .imgs {
          width: 228px;
          height: 180px; }
          .jf_information .myOrder .look li .imgs img {
            width: 228px;
            height: 180px; }
        .jf_information .myOrder .look li span {
          display: block;
          padding: 2px 15px; }
        .jf_information .myOrder .look li .list_tit {
          font-weight: 600; }
        .jf_information .myOrder .look li .list_description {
          font-size: 12px; }
        .jf_information .myOrder .look li:hover {
          border: 1px solid #ff9c00; }
      .jf_information .myOrder .look li:first-child {
        margin-left: 27px; }
      .jf_information .myOrder .look li:last-child {
        border-right: 1px solid #c8c8c8; }
      .jf_information .myOrder .look li:last-child:hover {
        border-right: 1px solid #ff9c00; }
