@charset "UTF-8";
/*首页index*/
.fn-ff {
  color: #ff9c00; }

.invitation {
  background: #fff; }
  .invitation .in_title {
    font-size: 20px;
    padding: 28px 0 20px;
    border-bottom: 1px solid #e5e5e5; }
    .invitation .in_title .in_num {
      font-size: 16px;
      color: #5e5e5e; }
  .invitation .type_list {
    width: 800px;
    height: 125px;
    padding: 56px 0 56px;
    margin: 0 auto; }
    .invitation .type_list .type_item {
      width: 25%;
      float: left; }
      .invitation .type_list .type_item a {
        width: 100%;
        height: 125px;
        text-align: center;
        display: inline-block; }
        .invitation .type_list .type_item a i {
          width: 80px;
          height: 60px; }
        .invitation .type_list .type_item a span {
          display: block;
          margin-top: 20px;
          font-size: 18px;
          color: #5e5e5e; }
        .invitation .type_list .type_item a .weixin {
          background-position: -340px -31px; }
        .invitation .type_list .type_item a .weibo {
          background-position: -340px -91px; }
        .invitation .type_list .type_item a .qq {
          background-position: -340px -151px; }
        .invitation .type_list .type_item a .lianjie {
          background-position: -340px -211px; }
        .invitation .type_list .type_item a:hover span {
          color: #ff9c00; }
        .invitation .type_list .type_item a:hover .weixin {
          background-position: -420px -31px; }
        .invitation .type_list .type_item a:hover .weibo {
          background-position: -420px -91px; }
        .invitation .type_list .type_item a:hover .qq {
          background-position: -420px -151px; }
        .invitation .type_list .type_item a:hover .lianjie {
          background-position: -420px -211px; }
  .invitation .rules {
    width: 100%;
    padding: 40px 0; }
    .invitation .rules li {
      padding-top: 10px;
      color: #5e5e5e; }
  .invitation table {
    width: 100%;
    margin-top: 20px; }
    .invitation table td {
      line-height: 50px; }
    .invitation table .empty {
      text-align: center;
      padding: 100px 0;
      font-size: 18px;
      color: #999; }
