@charset "UTF-8";
/*zh 2017 0411 v1.0*/
/*错误提示共通样式*/
.tip {
  position: absolute;
  /*line-height: 22px;*/
  background-color: #fff;
  border: 1px solid #ff9c00;
  color: #ff9c00;
  z-index: 100;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  padding: 10px; }

.tip_show {
  opacity: 1;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s; }

.tip:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 10px;
  background: url(../images/sprite.png) no-repeat;
  background-position: -317px -21px;
  left: 50%;
  top: -10px;
  margin-left: -7px; }

.tip:after {
  content: "";
  display: block; }

.error {
  position: absolute; }
  .error i {
    background-position: -160px -137px;
    width: 19px;
    height: 18px;
    margin-right: 5px; }

.content {
  display: flex;
  min-height: 65vh;
  flex-direction: column; }
  .content .layout {
    padding: 15px; }
  .content .content_wrap {
    height: 390px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 5px #e0d1b4; }
    .content .content_wrap div {
      float: left; }
    .content .content_wrap .show_img {
      width: 586px;
      height: 390px; }
      .content .content_wrap .show_img img {
        width: 586px;
        height: 390px; }
    .content .content_wrap .login_box {
      width: 290px;
      height: auto;
      margin: 0 42px 0 52px; }
      .content .content_wrap .login_box h3 {
        width: 100%;
        height: 18px;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        padding: 10px 0 50px 0; }
      .content .content_wrap .login_box p {
        width: 100%;
        height: 25px;
        color: #686868;
        font-size: 14px;
        border-bottom: 1px solid #999999;
        overflow: hidden;
        margin-bottom: 20px; }
        .content .content_wrap .login_box p input {
          position: relative;
          width: 220px;
          font-size: 14px;
          outline: none;
          border: none;
          color: #363636;
          padding-left: 20px; }
      .content .content_wrap .login_box .find_pw {
        border: none;
        text-align: right;
        line-height: 14px; }
        .content .content_wrap .login_box .find_pw a {
          color: #299eff; }
      .content .content_wrap .login_box .error {
        /*position: absolute;*/
        font-size: 12px;
        color: #ea3b28;
        margin-top: -10px; }
        .content .content_wrap .login_box .error i {
          width: 19px;
          height: 19px;
          background: url(../images/sprite.png) no-repeat;
          background-position: -160px -136px; }
      .content .content_wrap .login_box .login_btn {
        border: none;
        margin: 0 auto;
        height: 40px;
        text-align: center; }
        .content .content_wrap .login_box .login_btn button {
          width: 260px;
          height: 35px;
          line-height: 35px;
          outline: none;
          border: none;
          font-size: 18px;
          color: #fff;
          text-align: center;
          background: #ff9c00;
          cursor: pointer;
          -webkit-border-radius: 35px;
          -moz-border-radius: 35px;
          -o-border-radius: 35px;
          border-radius: 35px; }
          .content .content_wrap .login_box .login_btn button:hover {
            background: #feae32; }
      .content .content_wrap .login_box .register_link {
        width: 100%;
        height: 12px;
        line-height: 12px;
        font-size: 12px;
        color: #aaaaaa;
        text-align: center;
        padding-top: 10px;
        border: none; }
        .content .content_wrap .login_box .register_link a {
          color: #ea3b28; }
