@charset "UTF-8";
/*zh 2017 0411 v1.0*/
/*错误提示共通样式*/
.tip {
  position: absolute;
  /*line-height: 22px;*/
  background-color: #fff;
  border: 1px solid #ff9c00;
  color: #ff9c00;
  z-index: 100;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  padding: 10px; }

.tip_show {
  opacity: 1;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s; }

.tip:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 10px;
  background: url(../images/sprite.png) no-repeat;
  background-position: -317px -21px;
  left: 50%;
  top: -10px;
  margin-left: -7px; }

.tip:after {
  content: "";
  display: block; }

.error {
  position: absolute; }
  .error i {
    background-position: -160px -137px;
    width: 19px;
    height: 18px;
    margin-right: 5px; }

.content {
  display: flex;
  min-height: 65vh;
  flex-direction: column; }
  .content .layout {
    padding: 15px; }
  .content .content_wrap {
    height: 390px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 5px #e0d1b4; }
    .content .content_wrap div {
      float: left; }
    .content .content_wrap .show_img {
      width: 586px;
      height: 390px; }
      .content .content_wrap .show_img img {
        width: 586px;
        height: 390px; }
    .content .content_wrap .mail_box {
      width: 290px;
      height: auto;
      margin: 0 42px 0 52px;
      display: none; }
      .content .content_wrap .mail_box h3 {
        width: 100%;
        height: 18px;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        padding: 10px 0 50px 0; }
      .content .content_wrap .mail_box p {
        width: 100%;
        height: 25px;
        color: #686868;
        font-size: 14px;
        border-bottom: 1px solid #999999;
        overflow: hidden;
        margin-bottom: 20px; }
        .content .content_wrap .mail_box p input {
          position: relative;
          width: 180px;
          font-size: 14px;
          outline: none;
          border: none;
          color: #363636;
          padding-left: 20px; }
      .content .content_wrap .mail_box .user_email {
        overflow: hidden; }
        .content .content_wrap .mail_box .user_email .right_ico {
          float: right;
          display: block;
          width: 18px;
          height: 18px;
          background: url(../images/sprite.png) no-repeat;
          background-position: -179px -137px; }
      .content .content_wrap .mail_box .login_code {
        margin-bottom: 40px; }
        .content .content_wrap .mail_box .login_code input {
          width: 115px;
          padding-left: 25px; }
        .content .content_wrap .mail_box .login_code img {
          float: right;
          width: 80px;
          height: 21px;
          cursor: pointer; }
      .content .content_wrap .mail_box .error {
        /*position: absolute;*/
        font-size: 12px;
        color: #ea3b28;
        margin-top: -18px; }
        .content .content_wrap .mail_box .error i {
          width: 19px;
          height: 19px;
          background: url(../images/sprite.png) no-repeat;
          background-position: -160px -136px; }
      .content .content_wrap .mail_box .send_mail {
        border: none;
        margin: 0 auto;
        height: 35px;
        text-align: center; }
        .content .content_wrap .mail_box .send_mail button {
          width: 260px;
          height: 35px;
          line-height: 35px;
          outline: none;
          border: none;
          font-size: 18px;
          color: #fff;
          text-align: center;
          background: #ff9c00;
          -webkit-border-radius: 35px;
          -moz-border-radius: 35px;
          -o-border-radius: 35px;
          border-radius: 35px; }
          .content .content_wrap .mail_box .send_mail button:hover {
            background: #feae32; }
      .content .content_wrap .mail_box .links {
        width: 260px;
        height: 12px;
        margin: 0 auto;
        line-height: 12px;
        font-size: 12px;
        color: #aaaaaa;
        text-align: center;
        padding-top: 10px;
        border: none; }
        .content .content_wrap .mail_box .links a {
          color: #ea3b28; }
    .content .content_wrap .phone_box {
      width: 290px;
      height: auto;
      margin: 0 42px 0 52px; }
      .content .content_wrap .phone_box h3 {
        width: 100%;
        height: 18px;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        padding: 10px 0 50px 0; }
      .content .content_wrap .phone_box p {
        width: 100%;
        height: 25px;
        color: #686868;
        font-size: 14px;
        border-bottom: 1px solid #999999;
        overflow: hidden;
        margin-bottom: 20px; }
        .content .content_wrap .phone_box p input {
          position: relative;
          width: 180px;
          font-size: 14px;
          outline: none;
          border: none;
          color: #363636;
          padding-left: 20px; }
      .content .content_wrap .phone_box .user_phone {
        overflow: hidden; }
        .content .content_wrap .phone_box .user_phone .right_ico {
          float: right;
          display: block;
          width: 18px;
          height: 18px;
          background: url(../images/sprite.png) no-repeat;
          background-position: -179px -137px; }
      .content .content_wrap .phone_box .login_code input {
        width: 115px;
        padding-left: 25px; }
      .content .content_wrap .phone_box .login_code img {
        float: right;
        width: 80px;
        height: 21px;
        cursor: pointer; }
      .content .content_wrap .phone_box .phone_code input {
        width: 100px;
        padding-left: 25px; }
      .content .content_wrap .phone_box .phone_code button {
        float: right;
        width: 80px;
        height: 21px;
        background: #fff;
        border: 1px solid #ff9c00;
        outline: none;
        font-size: 12px;
        color: #ff9c00;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px; }
      .content .content_wrap .phone_box .error {
        /*position: absolute;*/
        font-size: 12px;
        color: #ea3b28;
        margin-top: -18px; }
        .content .content_wrap .phone_box .error i {
          width: 19px;
          height: 19px;
          background: url(../images/sprite.png) no-repeat;
          background-position: -160px -136px; }
      .content .content_wrap .phone_box .pw_find {
        border: none;
        margin: 0 auto;
        height: 35px;
        text-align: center; }
        .content .content_wrap .phone_box .pw_find button {
          width: 260px;
          height: 35px;
          line-height: 35px;
          outline: none;
          border: none;
          font-size: 18px;
          color: #fff;
          text-align: center;
          background: #ff9c00;
          cursor: pointer;
          -webkit-border-radius: 35px;
          -moz-border-radius: 35px;
          -o-border-radius: 35px;
          border-radius: 35px; }
          .content .content_wrap .phone_box .pw_find button:hover {
            background: #feae32; }
      .content .content_wrap .phone_box .links {
        width: 260px;
        height: 12px;
        margin: 0 auto;
        line-height: 12px;
        font-size: 12px;
        color: #aaaaaa;
        text-align: center;
        padding-top: 10px;
        border: none; }
        .content .content_wrap .phone_box .links a {
          color: #ea3b28; }
