.paySuccess .layout {
  min-height: 2000px;
  background-color: #fff;
  padding-top: 30px;
  font-family: "microsoft yahei"; }
  .paySuccess .layout .interlocution {
    width: 1000px;
    margin-top: -6px; }
    .paySuccess .layout .interlocution .interlocution_go {
      margin-left: -16px;
      width: 998px;
      overflow: hidden;
      margin-top: 10px; }
      .paySuccess .layout .interlocution .interlocution_go p {
        margin-left: 15px;
        margin-top: 20px;
        font-size: 16px;
        color: #5E5E5E; }
      .paySuccess .layout .interlocution .interlocution_go .particulars {
        margin-left: 50px;
        margin-top: 20px; }
      .paySuccess .layout .interlocution .interlocution_go .particulars label {
        display: block;
        width: 281px;
        height: 41px;
        background: #fff;
        border: 1px solid #ddd;
        font-size: 14px;
        line-height: 41px;
        float: left;
        margin-right: 25px;
        margin-bottom: 20px; }
        .paySuccess .layout .interlocution .interlocution_go .particulars label input {
          margin-left: 20px;
          vertical-align: middle;
          margin-top: -2px; }
        .paySuccess .layout .interlocution .interlocution_go .particulars label span {
          margin-left: 20px; }
      .paySuccess .layout .interlocution .interlocution_go .particularss label {
        width: 437px; }
        .paySuccess .layout .interlocution .interlocution_go .particularss label span {
          display: inline-block;
          width: 360px;
          line-height: 14px;
          margin-top: 5px; }
  .paySuccess .layout #btns {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    margin-top: 12px;
    margin-left: 18px; }
    .paySuccess .layout #btns .btns_s {
      width: 8px;
      height: 8px;
      background: #fff;
      border-radius: 50%; }
  .paySuccess .layout .btnSubmit {
    width: 185px;
    border:0;
    height: 40px;
    background: #eb6100;
    text-align: center;
    line-height: 40px;
    margin-left: 405px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer; }
  .paySuccess .layout .btnSubmit:hover {
    background: #f99a57; }
  .paySuccess .layout .interlocution_click {
    margin-left: -16px;
    width: 998px;
    background: #fff;
    overflow: hidden;
    margin-top: 10px; }
    .paySuccess .layout .interlocution_click p {
      margin-left: 15px;
      margin-top: 20px;
      font-size: 16px;
      color: #5E5E5E; }
    .paySuccess .layout .interlocution_click .particulars {
      margin-left: 50px;
      margin-top: 20px; }
    .paySuccess .layout .interlocution_click .particulars label {
      display: block;
      width: 281px;
      height: 41px;
      background: #fff;
      border: 1px solid #ddd;
      font-size: 14px;
      line-height: 41px;
      float: left;
      margin-right: 25px;
      margin-bottom: 20px; }
      .paySuccess .layout .interlocution_click .particulars label input {
        margin-left: 20px;
        vertical-align: middle;
        margin-top: -2px; }
      .paySuccess .layout .interlocution_click .particulars label span {
        margin-left: 20px; }
    .paySuccess .layout .interlocution_click .particularss label {
      width: 437px; }
      .paySuccess .layout .interlocution_click .particularss label span {
        display: inline-block;
        width: 360px;
        line-height: 14px;
        margin-top: 5px; }
