/*zh 2017 0523 v1.0*/
.content .navlist {
  background-color: #fff;
  position: relative; }
  .content .navlist .layout li {
    float: left;
    width: 64px;
    height: 54px;
    text-align: center;
    padding: 0 40px; }
    .content .navlist .layout li:nth-child(1) {
      margin-left: -40px; }
    .content .navlist .layout li a {
      display: block;
      line-height: 54px;
      font-size: 16px;
      color: #5e5e5e; }
  .content .navlist .layout li.active a {
    color: #ff9c00;
    border-bottom: 2px solid #ff9c00;
    z-index: 10; }

.content .part-hd {
  text-align: center; }
  .content .part-hd h2 {
    margin-bottom: 4px; }
    .content .part-hd h2 span {
      font-size: 24px;
      color: #000;
      padding-bottom: 4px;
      border-bottom: 2px solid #ff9c00; }
